@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.edit-warehouse {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $cloud-color;
  border-radius: 0.1875rem;

  &__header {
    display: flex;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid $cloud-color;
    @include tablet {
      padding: 2rem;
    }
  }

  &__header-back-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0rem 0.5rem 0 0;
  }

  &__header-title {
    @include h1;
    overflow-y: hidden;
  }

  &__forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 1.5rem 2rem;
    }
  }
  &__warehouse-form {
    flex: 1;
    padding-bottom: 1rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      border-bottom: none;
      padding-right: 2.5rem;
      border-right: 1px solid $cloud-color;
    }
  }
  &__contact-form {
    flex: 1;
    padding: 0.5rem 1rem;
    @include tablet {
      padding-left: 2rem;
    }
  }
  &__warehouse-details {
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $cloud-color;
    @include tablet {
      border-bottom: none;
    }
  }
  &__warehouse-title,
  &__contact-title {
    @include h2;
    padding: 1rem 0;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
  }
  &__label {
    @include h3;
    padding: 0.25rem 0;
  }

  &__input {
    @include p2;
    width: 95%;
    border-radius: 1.25rem;
    border: 1px solid $cloud-color;
    padding: 0.5rem 1rem;
    @include tablet {
    }
  }
  &__form-buttons {
    background-color: $light-grey-color;
    display: flex;
    gap: 1rem;
    padding: 1rem 0.5rem;
    justify-content: center;
    @include tablet {
      justify-content: flex-end;
      padding-left: 5rem;
      padding-right: 0.5rem;
    }
  }
  &__button-cancel {
    @include button-secondary;
    overflow-y: hidden;
    @include tablet {
      width: auto;
    }
  }
  &__button-save {
    @include button-primary;

    @include tablet {
      width: auto;
    }
  }
}
