@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.warehouse {
  @include page-content;
  @include p1;
  display: flex;
  flex-direction: column;
  border-bottom: 0.0625rem solid $cloud-color;
  background-color: $white-color;

  &__details {
    border-bottom: 0.0625rem solid $cloud-color;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 2rem 2rem 1.5rem 2rem;

    &-arrow {
      margin-right: 0.5rem;
      padding-top: 1rem;
    }

    &-name {
      @include h1;
      color: $black-color;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $indigo-color;
      background-size: contain;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      margin-left: auto;

      @include tablet {
        width: 5rem;
        border-radius: 1.5rem;
        justify-content: space-between;
        padding: 0 0.75rem;
      }

      &-text {
        display: none;

        @include tablet {
          display: flex;
          color: white;
        }
      }
    }
  }

  &__info {
    @include p3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    height: 30rem;

    @include tablet {
      flex-wrap: nowrap;
      padding: 1rem 2rem;
      height: 10rem;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 45%;

      @include tablet {
        width: 100%;
        justify-content: center;
      }
      &--name {
        padding-top: 1rem;
        @include tablet {
          width: 100%;
          border-left: 0.0625rem solid $cloud-color;
          padding-left: 2rem;
          padding-top: 0;
          margin-left: 7rem;
        }
      }

      &--address {
        width: 100%;
        @include desktop {
          padding-left: 1rem;
          padding-right: 3rem;
        }
      }
      &--contact {
        padding-top: 1rem;
        @include tablet {
          padding-top: 0;
        }
      }
    }
  }
}
