// responsive design
// @use "./fonts" as*;
// @use "./variables" as *;


@use "./variables" as variables;
@use "./variables" as variables;

// responsive design
@use "./fonts" as*;
@use "./variables" as *;

// @use "./variables" as variables;

// // responsive design
// @use "../partials/variables" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// text styles

// h1 - page header
@mixin h1 {
  font-family: $titillium;
  font-weight: $titillium-semi-bold;
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

// h2 - subheader
@mixin h2 {
  font-family: $titillium;
  font-weight: $titillium-semi-bold;
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

// h3 - labels, links & buttons
@mixin h3 {
  font-family: $titillium;
  font-weight: $titillium-semi-bold;
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

// h4 - table header
@mixin h4 {
  font-family: $titillium;
  font-weight: $titillium-normal;
  text-transform: uppercase;
  font-size: 0.6875rem;
  line-height: 1rem;
  color: $slate-color;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

// p1 - body large
@mixin p1 {
  font-family: $titillium;
  font-weight: $titillium-normal;
  font-size: 0.9375rem;
  line-height: 1.625rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  @include desktop {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

// p2 - body medium
@mixin p2 {
  font-family: $titillium;
  font-weight: $titillium-normal;
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

// p3 - body small
@mixin p3 {
  font-family: $titillium;
  font-weight: $titillium-normal;
  font-size: 0.6875rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

// buttons

@mixin button {
  font-family: $titillium;
  width: fit-content;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 1.25rem;
}

@mixin button-primary {
  @include button;
  color: $white-color;
  background-color: $indigo-color;
  &:hover {
    cursor: pointer;
    background-color: $graphite-color;
  }
}

@mixin button-secondary {
  @include button;
  color: $slate-color;
  border: 0.0625rem solid $cloud-color;
  background-color: $white-color;
  &:hover {
    cursor: pointer;
    border: 0.0625rem solid $indigo-color;
    color: $indigo-color;
  }
}

@mixin button-delete {
  @include button;
  color: $white-color;
  background-color: $red-color;
  &:hover {
    cursor: pointer;
    background-color: $graphite-color;
  }
}