@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// colors
$black-color: #13182c;
$indigo-color: #2e66e5;
$white-color: #ffffff;

$slate-color: #5c667e;
$cloud-color: #bdc5d5;

$graphite-color: #232940;
$light-grey-color: #f7f8f9;

$green-color: #158463;
$red-color: #c94515;

// font
$titillium: 'Titillium Web', sans-serif;
$titillium-normal: 400;
$titillium-semi-bold: 600;
