@use "/src/styles/partials/variables";
@use "/src/styles/partials/fonts";
@use "/src/styles/partials/mixins";
@use "/src/styles/partials/global";

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.delete-modal {
  background-color: variables.$white-color;
  padding: 3rem;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(variables.$black-color, 0.1);
  position: relative;
  font-family: variables.$titillium;
  color: variables.$graphite-color;

  &__exit-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: variables.$graphite-color;
    cursor: pointer;
  }

  &__title {
    @include mixins.h1;
    margin: 0 0 1rem;
    overflow-y: hidden;
  }

  &__text {
    @include mixins.p1;
    color: variables.$slate-color;
    margin: 0 0 2rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  &__button {
    @include mixins.button;

    &--cancel {
      @include mixins.button-secondary;
      }
    
    &--delete {
      @include mixins.button-delete;
    }
  }

  @include mixins.tablet {
    width: 600px;
  }

  @include mixins.desktop {
    width: 600px;
  }
}