@use "/src/styles/partials/variables";
@use "/src/styles/partials/fonts";
@use "/src/styles/partials/mixins";
@use "/src/styles/partials/global";
.footer {
    display: flex;
    background-color: variables.$light-grey-color;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2rem;
    &__copyright {
        @include mixins.p3;
        color: variables.$slate-color;
    }
}