@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;



a {
    text-decoration: none; 
    color: inherit;        
    font: inherit;    
}  

body {
    min-width: 20rem;
  } 

#root{
    width:100%;
}
  
h1{
    @include h1;
}

h2{
    @include h2
}

h3{
    @include h3
}

h4{
    @include h4
}

.p1{
    @include p1
}

.p2{
    @include p2
}

.p3{
    @include p3
}
